extends layout
block content
  #page-wrapper
    .container-fluid
      // Page Heading
      .row
        .col-lg-12
          h1.page-header
            | Dashboard 
            small Patiens Record Management
          ol.breadcrumb
            li.active
              i.fa.fa-dashboard
              |  Dashboard
      // /.row
    // /.container-fluid
  // /#page-wrapper
// /#wrapper
