extends layout
block content
  section.home-section.paddingtop-100
    .container
      .jumbotron.text-center
        h3 Record Details for Patient_Name
      table.table.table-hover
        thead
          tr
            th Data
            th Values
        tbody
          tr
            th Patiens Name
            td
          tr
            th Institution
            td
          tr
            th Heigth
            td
          tr
            th Weigth
            td
          tr
            th Blood Pressure
            td
          tr
            th Colestrol
            td
          tr
            th Glucose Level
            td
          tr
            th Uric Acid
            td
          tr
            th Diagnose
            td
          tr
            th Additional Info
            td
