extends layout
block content
  .jumbotron.text-center
    h3 Record List for Patient_Name
  table.table.table-hover
    thead
      tr
        th Data
        th Values
    tbody
      tr
        th Patiens Name
        td
      tr
        th Institution
        td
      tr
        td Heigth
        td
      tr
        td Weigth
        td
      tr
        td Blood Pressure
        td
      tr
        td Colestrol
        td
      tr
        td Glucose Level
        td
      tr
        td Uric Acid
        td
      tr
        td Diagnose
        td
      tr
        td Additional Info
        td
