extends layout
block content
  section.home-section.paddingtop-100
    .container
      .jumbotron.text-center
        h3 Record List for Patient_Name
      table.table.table-hover
        thead
          tr
            th Record ID
            th Diagnose
            th In
            th Out
            th Action
        tbody
          tr
            td 2381201298312
            td Sakit Jantung
            td 27-07-2017
            td 30-07-2017
            td
              a.btn.btn-info(href='#')
                span.glyphicon.glyphicon-eye-open
                | Details
            tr
              td 2381201298312
              td Sakit Jantung
              td 27-07-2017
              td 30-07-2017
              td
                a.btn.btn-info(href='#')
                  span.glyphicon.glyphicon-eye-open
                  | Details
            tr
              td 2381201298312
              td Sakit Jantung
              td 27-07-2017
              td 30-07-2017
              td
                a.btn.btn-info(href='#')
                  span.glyphicon.glyphicon-eye-open
                  | Details  
